[client]
remote_addr = "{{ control_endpoint }}"
{% for service in services %}

[client.services.{{ engineer_name }}-{{ service.name }}]
type = "{{ service.protocol }}"
token = "{{ token }}"
local_addr = "{{ forward_address }}:{{ service.port }}"
{% endfor %}
