**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/*.egg-info
**/*.sln
**/*.slnx
**/bin/
**/obj/
**/bin.meta
**/obj.meta
.ruff_cache
.buildkit-cache
.vs
.act
.env
.secrets
metadata.json

apps/**/[Tt]emp/
apps/**/[Oo]bj/
apps/**/[Bb]uild/
apps/**/[Bb]uilds/
apps/**/Logs/
apps/**/[Uu]ser[Ss]ettings/
capture-app/**/[Ll]ibrary/
capture-app/**/[Tt]emp/
capture-app/**/[Oo]bj/
capture-app/**/[Bb]uild/
capture-app/**/[Bb]uilds/
capture-app/**/Logs/
client/**/[Tt]emp/
client/**/[Oo]bj/
client/**/[Bb]uild/
client/**/[Bb]uilds/
client/**/Logs/
client/**/[Uu]ser[Ss]ettings/