**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/*.egg-info
**/*.sln
**/*.slnx
**/*.meta
**/bin/
**/obj/
.venv
.ruff_cache
.vs
.env
.secrets
metadata.json

apps/**
legacy/Outernet.Client/**
.env.lock
.env.local.lock