PUBLIC_URL=https://<your-ngrok-domain>.ngrok-free.app

NGROK_DOMAIN=<your-ngrok-domain>.ngrok-free.app
NGROK_AUTHTOKEN=<your_ngrok_authtoken_here>

AUTH_MODE=keycloak
DEPLOYMENT_ENVIRONMENT=development

GATEWAY_PORT=58080
MINIO_CONSOLE_PORT=59001
CLOUDBEAVER_PORT=58978
GRAFANA_PORT=53000

KEYCLOAK_ACCESS_TOKEN_LIFESPAN=3600
KEYCLOAK_SSO_SESSION_IDLE_TIMEOUT=2592000
KEYCLOAK_SSO_SESSION_MAX_LIFESPAN=2592000
AUTH_AUDIENCE=placeframe-api
AUTH_WORKER_CLIENT_ID=placeframe-worker

MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
POSTGRES_HOST=postgres
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=password
DATABASE_NAME=placeframe
DATABASE_OWNER_PASSWORD=password
DATABASE_API_USER_PASSWORD=password
DATABASE_AUTH_USER_PASSWORD=password
DATABASE_ORCHESTRATION_USER_PASSWORD=password
CLOUDBEAVER_ADMIN_USER=cbadmin
CLOUDBEAVER_ADMIN_PASSWORD=password

DEBUG_API=true
DEBUG_WAIT_API=false
DEBUG_LEASE_SERVER=false
DEBUG_WAIT_LEASE_SERVER=false
