name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".env.lock"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  build-and-lock:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Torch layers are huge; we need this step or we'll run out of disk space
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Setup UV
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
            **/uv.lock

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "::group::Base & CUDA Images"
          uv run build --mode ci --gpu cuda
          echo "::endgroup::"

          echo "::group::Cleanup"
          # Torch layers are huge; we need this step or we'll run out of disk space
          docker buildx prune --all --force --filter "type=exec.cachemount"
          docker system prune --all --force 
          echo "::endgroup::"

          echo "::group::ROCm Images"
          uv run build --mode ci --gpu rocm
          echo "::endgroup::"

      # 4. GitOps: Open the "Release Candidate" PR
      - name: Create/Update Lockfile PR
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Update .env.lock"
          title: "Update .env.lock"
          branch: bot/update-lock
          base: ${{ github.ref_name }}
          delete-branch: true
          signoff: true
